name: ddmd_apptainer

on:
  push:
    paths-ignore:
      - '*.sh'
      - '*.sbatch'
  pull_request:
  schedule:
    - cron: '0 0 * * SUN'
  repository_dispatch:
    types: [backend_automation]
  workflow_dispatch:
  workflow_call:

jobs:
  build_image:
    runs-on: ubuntu-20.04
    strategy:
        fail-fast: false
    steps:
    - name: tag
      run: |
        if [[ ${{ github.ref_name }} == tahoma-changes ]]; then
        echo "tag=oras://ghcr.io/${{ github.repository }}/ddmd" >> $GITHUB_ENV
        else
        echo "tag=oras://ghcr.io/${{ github.repository }}/ddmd_${{ github.ref_name }}" >> $GITHUB_ENV
        fi
    - name: echo-tag
      run: |
        echo ' the apptainer tag is ' "${{ env.tag }}"
    - name: Checkout source
      uses: actions/checkout@v3
      with:
        clean: false
    - name: Install apptainer
      env:
        APP_VER: 1.1.2
      run: |
        sudo apt-get install -y  libfuse2 libseccomp2 zlib1g uidmap squashfs-tools squashfuse fuse2fs fuse-overlayfs fakeroot
        wget -q  https://github.com/apptainer/apptainer/releases/download/v${APP_VER}/apptainer_${APP_VER}_amd64.deb 
        sudo dpkg -i apptainer_${APP_VER}_amd64.deb
        rm apptainer_${APP_VER}_amd64.deb
        which apptainer
        apptainer version
        dpkg-query -Wf '${Installed-Size}\t${Package}\n' | sort -n
        df -h
        ls -lart /mnt
        touch /mnt/a.txt
    - name: build an apptainer container
      run: |
        ls -l
        cd envs
        df -h . /tmp
        apptainer build --fakeroot /mnt/ddmd.sif  ddmd.def
        ls -lrth /mnt/ddmd.sif
    - name: builddate
      id: build-date
      run: |
        echo "date=$(TZ=America/Los_Angeles date +%Y%m%d_%H%M%S)" >> $GITHUB_ENV
    - name: push to ghcr.io
      run: |
        echo ${{ secrets.GITHUB_TOKEN }} | apptainer remote login -u ${{ github.actor }} --password-stdin oras://ghcr.io
        cd envs
        pwd
        ls -l
        apptainer remote list
        apptainer push /mnt/ddmd.sif ${{ env.tag }}:${{ env.date }}
        apptainer push /mnt/ddmd.sif ${{ env.tag }}:latest
    - name: test image with apptainer
      run: |
        rm -f /mnt/ddmd.sif || true
        apptainer pull  -F /mnt/ddmd.sif ${{ env.tag }}:${{ env.date }}
        apptainer exec ${{ env.tag }}:${{ env.date }} ddmd run_ddmd  -h || true
        apptainer exec ${{ env.tag }}:${{ env.date }} ls -lrt /opt/conda/bin |tail || true
        apptainer cache list -v
